{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Django blog</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>

    <!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
            integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">


    <script type="text/javascript" charset="utf-8">
        let a;
        let time;
        let seconds;
        let minutes;
        let hours;
        setInterval(() => {
            a = new Date();
            seconds = a.getSeconds()
            minutes = a.getMinutes()
            hours = a.getHours()

            if (seconds < 10) {
                seconds = '0' + seconds
            }

            if (minutes < 10) {
                minutes = '0' + minutes
            }
            if (hours < 10) {
                hours = '0' + hours
            }

            time = hours + ':' + minutes + ':' + seconds;
            document.getElementById('time').innerHTML = time;
        }, 1000);
    </script>

    <style>
        body {
            background-image: url("{% static 'images/bg.png' %}");
            background-size: cover;
        }


        {#.spacer {#}
        {##}
        {#    aspect-ratio: 1400/450;#}
        {#    width: 100%;#}
        {#    background-repeat: no-repeat;#}
        {#    background-position: center;#}
        {#    background-size: contain;#}
        {##}
        {
        #}#}

        .layer2 {
            background-image: url("{% static 'images/layered-peaks-haikei.svg' %}");
        }

    </style>

</head>

<body class="bg-light">

<header class="page-header">
    <div class="container">

        <table style="width:100%">
            <tr>
                <th>
                    <div class="col-12 text-white">
                        {% if user.is_authenticated %}
                            Hi {{ user.username }}!
                            <p><a href="{% url 'logout' %}" style="text-decoration: none; color: #d4060e;">Log Out</a>
                            </p>
                        {% else %}
                            <p>You are not logged in</p>
                            <a href="{% url 'login' %}" style="text-decoration: none">Log In</a>
                        {% endif %}
                    </div>
                </th>
                <th>
                    <h1><a href="/">Django Blog</a></h1>
                </th>
                <th>
                    <h2><a href="{% url 'post_create' %}"
                           style="text-decoration: none; color: #FFFFFF; font-size: x-large;">Create New Post</a></h2>
                </th>
                {#                <th>#}
                {#                    <h2><a href="{% url 'test' %}"#}
                {#                           style="text-decoration: none; color: #FFFFFF; font-size: x-large;">Test</a></h2>#}
                {#                </th>#}
                <th>
                    <span id="time" style="float: right; color: white">00:00:00</span>
                </th>
            </tr>

        </table>

    </div>
</header>

{% block header %}
{% endblock %}

<main class="container" style="margin-top: 40px">
    <!--        <div class="row">-->
    <!--            <div class="col">-->
    {% block content %}
    {% endblock %}
    <!--            </div>-->
    <!--        </div>-->
</main>

<footer style="width: 100%; height: 100%;">
    <div class="spacer layer2"></div>
</footer>

</body>
</html>