{% extends 'blog/base.html' %}
{% block content %}

    <article class="post">
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>

    <a href="{% url 'post_list' %}" class="btn btn-default" style="background: #ce2b32"> Go back </a>

    <span style="float: right">
        <td class="header_button ">
                        <div id="menu">
                        <ul id="Ul1">

                                <li style="list-style-type: none">
                                    <img src="https://th.bing.com/th/id/OIP.KIIhnaZM35hJDctYwkHUCwHaHa?pid=ImgDet&rs=1"
                                         style="height: 30px; width: 30px;">
                                </li>

                                <li class="item">
                                <a href="{% url 'post_update' pk=post.pk %}" style="text-decoration: none">Edit Post</a>
                                </li>
                                <li class="item">
                                <a href="{% url 'post_delete' pk=post.pk %}" style="text-decoration: none; color: red">Delete</a>
                                </li>
                        </ul>
                        </div>
                <div style="clear:both"></div>
        </td>
    </span>
{% endblock %}

